*,html,body,h1,h2,h3,h4,h5,h6
{
	font-family: 'Cairo', sans-serif;
}
.active-bread
{
	color: #39C4D2 !important;
}
.text-red
{
	color: red !important;
}

.text-blue
{
	color: blue !important;
}
.sort-input
{
	width:70px;
}
.draggable-item
{
	cursor: all-scroll !important;
}

.img-table
{
	width: 50px; 
	height: 50px;
}
textarea 
{
  resize: none;
}

.privew-image,.privew-image2
{
	max-width: 100px;
	max-height: 100px;
}

td .privew-image
{
	max-width: 80px;
	max-height: 80px;
}
.portlet-body form .form-group label
{
    font-weight: 400;
    background: #36C6D3;
    padding: 3px 5px;
    border-radius: 5px !important;
    color: #fff;
}

.form-group .label-success
{
	background: #364150 !important;
}

.field-required
{
	color: red;
	font-size: 20px;
}
.btn-group-in-table
{

}
.dropdown-menu
{
	min-width: 100px !important;
}
.table-scrollable .dataTable td>.btn-group, .table-scrollable .dataTable th>.btn-group
{
	margin-left: -35px !important;
}
.page-sidebar .page-sidebar-menu>li>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i {
    
    color: #3db8de;
}
.view-img
{
	background: rgba(2,2,2,0.5) !important;
}
.tiles .tile
{
	cursor: default !important;
}
.view-img  .number a
{
	cursor: pointer !important;
	color: #AA3C41;
}
.gallery img
{
	width: 150px;
	height: 100px;
	padding: 5px;
	background: rgba(2,2,2,0.5);
	border:1px solid #fff;
}
.gallery i
{
	position: absolute;
    top: 0;
    font-size: 20px;
    color: #ab2c2c;
    border: 1px solid #fff;
    padding: 5px;
    background: rgba(2,2,2,0.5);
    cursor: pointer;
}


.coverLoading
{
	width: 100%;
}
.coverLoading img
{
	display: block;
	margin:auto;
}
/* header */

/*.page-header-fixed .page-container 
{
	margin-top: 100px;
}
.page-header.navbar.navbar-fixed-top, .page-header.navbar.navbar-static-top 
{
	height: 100px;
}
.page-header.navbar .page-logo
{
	padding-top:10px;
}
.page-header.navbar .top-menu .navbar-nav 
{
	padding-top: 20px;
}*/

/* refuse modal style */
.modal-content {
	border-radius: 10px !important;
	background-color: #d9edf7;
}

.modal-title {
	color: #266d91;
	font-size: 24px;
}

.modal-header {
	border-bottom-color: #266d91 !important;
}

.modal-footer {
	border-top-color: #266d91 !important;
}

#modal-button {
	background-color: #af3a61 !important;
	border-radius: 5px !important;
	border: none;
}

#modal-button:hover {
	background-color: #9b1f48 !important;
	border: 6px red;
}

.modal-body input {
	border-radius: 10px !important;
}

.modal-body textarea {
	border-radius: 10px !important;
}

#modal-note {
	background-color: #fff;
	min-height: 100px;
}

/* End of refuse modal style */

.bold-red-text {
	font-weight: bold;
	color: firebrick;
}

#order-data-table{
	max-width: 700px;
	margin: auto;
}

#order-data-table td {
	padding-left: 50px !important;
}

.select2-container--default .select2-results > .select2-results__options {
	max-height: 400px;
}

#errors
{
	list-style: none;

}
#errors li 
{
	padding: 3px;
	margin-bottom: 2px;
}

.coverLoading
{
	display: none;
    position: absolute;
    width: 95%;
    height: 100%;
    z-index: 11111;
    background: rgba(2,2,2,0.5);
}
.coverLoading img 
{
	margin-top: 150px;
}