.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: right;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: right;
}

.pull-left {
    float: right !important;
}

.pull-right {
    float: left !important;
}


.menu-right-area {
    border-left: 4px solid #fff;
    border-right: 0;
}

.top-cart-content {
    right: 0;
    left: auto;
}

.main-menu ul li {
    direction: rtl;
    float: right;
    position: static;
}

.curency ul li {
    text-align: right;
    direction: rtl;
}

.sl-btn {
    right: auto;
    border-radius: 0 25px 25px 0;
}

.promo-link > h1{
    width: 100%;
}


.single-product .onsale {
    left: auto;
    right: 35px;
}

.product-action {
    direction: rtl;
    text-align: right;
}

ul.pro-rating {
    float: left;
}

.social-icon {
    text-align: right;
}

.foteer-news {
    float: right;
    text-align: right;
}

.footer-menu {
    padding-right: 0;
    padding-left: 74px;
    direction: rtl;
    text-align: right;
}

ul.pro-rating {
    float: left;
}

.category-list ul li a {
    text-align: right;
    direction: rtl;
}

.category-list ul li a i {
    margin-right: 0;
    margin-left: 10px;
}

.category-list ul li a span {
    float: left;
}

.top-seller-product {
    float: right;
}

.single-product-tab .nav-tabs {
    float: left;
}

.single-product-info{
    direction: rtl;
    text-align: right;
}

.product-tabs .nav-tabs > li {
    float: right;
    margin-right: 0;
}

.product-tab-desc {
    text-align: right;
}

.shoping-cart-area table {
    direction: rtl;
}

.tit_tot {
    font-size: 17px !important;
    padding: 35px 15px !important;
}

.create-account-form, .login-form {
    direction: rtl;
    text-align: right;
}

.checkout-left-area {
    direction: rtl;
    text-align: right;
}


#checkout-review-table tbody tr td .product-name {
    text-align: center;
}

.checkout-left-area .panel-group a span {
    margin-right: 0;
    margin-left: 10px;
}





.media-left.check-img {
    float: right;
    padding: 0;
    margin: 0 0 0 10px;
}

.checkout-content {
    direction: rtl;
    text-align: right;
}

.header-middle-checkout .checkout-content h4.media-heading a {
    margin-right: 0;
}

.header-middle-checkout .checkout-content .checkout-remove {
    float: left;
}

.shop-top-seller h4 {
    text-align: center;
}



.coupon-info, .coupon-info table thead tr th ,.coupon-info table tbody tr td{
    text-align: right;
    direction: rtl;
}

.mega-menu, .single {
    text-align: right;
    direction: rtl;
}

.mega-menu span {
    float: right;
    padding-right: 0;
    padding-left: 30px;
}


.view_die_account {
    direction: rtl;
    text-align: right;
}

.left_menu_account {
    text-align: right;
    direction: rtl;
}


.view_die_account {
    direction: rtl;
    text-align: right;
}
