.show-errors
{
    padding: 3px;
    margin-bottom: 2px;
    text-align: center;
}

.logo img {
    max-height: 45px;
    width: 70px;
}


#map iframe
{
	width: 100% !important;
}

.pricing-box 
{
    height: auto;
    padding: 20px;
    
}
.pointer
{
	cursor: pointer !important;
}
.prod-home-img img
{
	height: 293px !important;
	width: 100%;
}
ul.pro-rating {
    float: right;
    margin-top: 0px;
    
}

ul.pro-rating li, .pro-review ul li, .social-icon ul li 
{
	color: #FF7575;
}

.category-list ul li a {
    color: #FF7575;
    display: block;
}

.menu-right-area ul li:hover .top-cart-content 
{
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
    max-height: 400px;
    overflow: auto;
}
.header-middle-checkout .checkout-content .checkout-remove
{
    float: right;
}

.cart-button
{
    background: #ff7575;
    border: 1px solid #ff7575;
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    /*padding: 0 15px;*/
    text-align: center;
    text-transform: uppercase;
    transition: all 1s ease 0s;
    white-space: nowrap;
    cursor: pointer !important;
}

.table-bottom-area .bottom-button > a, .shopingcart-bottom-area a, .discount-middle > a,
.table-bottom-area .bottom-button > button, .shopingcart-bottom-area button, .discount-middle > button {
    border: 1px solid #666666;
    border-radius: 20px;
    color: #666666;
    font-weight: 500;
    margin-left: 5px;
    padding: 10px 25px;
}






.coverLoading
{
    position: absolute;
    width: 100%;
    display: none;
    left: 0;
    height: 100%;
    background: rgba(2,2,2,0.5);
    z-index: 111111111111;
    top: -20px;
}


.coverLoading img 
{
    display: block;
    margin: auto;
    width: 150px;
    margin-top: 150px;
}



.bannerhead-area .banner-heading 
{
    padding: 128px 0;
    text-align: center;
}


.order-hist
{
        display: block;
    margin: 15px;
    background: #FF7575;
    color: #fff;
}


.size-area ul li
{
    margin-top: 15px !important;
}




/*.logo-area a img
{
    width: 100px;
    height: 50px;
    border-radius: 5px
}
*/


.logo-footer 
{
    width: 200px;
    height: 100px;
    margin: auto;
    display: block;
    border-radius: 5px;
}


#errors 
{
    list-style: none;
}
#errors li 
{
    padding: 3px;
    margin-bottom: 3px;
    text-align: center;
}

.coverloading
{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(2,2,2,0.3);
    display: none;

}
.coverloading img 
{
    display: block;
    margin: auto;
    margin-top: 25px;
    height: 50px;
}

.tit_tot
{
    font-size: 22px !important;
    font-weight: bold !important;
}

.button.btn-checkout, .buttons-set button
{
    background: #64B802 !important;
    color: #fff;
}

.grand-total strong,.grand-total span
{
    color: #64B802;
    font-size: 22px;
} 

.left_menu_account a.active
{
    background: #ccc;
}

.logout-btn
{
        padding: 3px;
    background: #e6e6e6;
    text-align: center;
}
.search_home
{
    width: 100%;

}
.search_home input 
{
    width: 100%;
    border-radius: 50px !important;
    border: 3px solid #64B802;
}
.text_left_search
{
    text-align: left !important;
}

.product-quantity p
{
    font-size: 20px;
    font-weight: bold;
}
.product-status
{
    color: #64B802;
    font-size: 18px;
    font-weight: bold;
}

.order-info
{
    background: #64B802;
    font-size: 16px;
    font-weight: bold;
    color: #fff;

}

.update-cart-btn
{
    padding: 7px 25px !important;
}

.update-cart-btn:hover
{
    background-color: #64B802  !important;
    color: #fff;
}

.input-sub::placeholder
{
    color: #fff !important;
}

.social-icon ul li a i
{
    font-size: 30px;
    cursor: pointer;
    
}
.social-icon ul li a i:hover
{
    color: #222;
    cursor: pointer;
}

.contDetails
{
    border:2px solid #ccc;
    border-radius: 20px;
    padding: 25px;
}
.contDetails h4 
{
    font-size: 20px;
    padding: 20px;
    border-bottom: 1px solid;
    font-family: 'Russo One', sans-serif;
}


.contDetails h4 strong
{
    font-size: 25px;
    color: #64B802;
    
}


.nivo-directionNav a {
    position: absolute;
    top: 45%;
    z-index: 200;
    cursor: pointer;
}

