

.color-1{background-color: #158787 !important;}
.color-2{background-color: #e4aa22 !important;}

body{
	font-family:"HelveticaNeue";
	background:url(../images/bg-header.jpg);
}

.padd-right{padding-right: 0 !important}
.padd-left{padding-left: 0 !important}
.padd-bottom{padding-bottom: 0 !important}
.padd-top{padding-top: 0 !important}


.menu-main{	
	height: 60px;
	position: fixed;
    display: block;
    width: 100%;
    z-index: 9999;
    clear: both;
}

.line-top{
	margin: 60px 0 0 0;
}

nav{
	box-shadow: 0 0 0;
}

.side-nav .userView .circle{
	background: #fff;	
}

.intro img{
	width:100%;
}

nav a.button-collapse{display: block;}

.side-nav li {
    float: none;
    line-height: 48px;
    text-align: right;
    border-bottom: 1px dotted #ddd;
}

.img-menu img{
	    width: 100%;
    vertical-align: middle;
}


.btn-floating.btn-large{
	width:auto;
	height:auto;
}

.fixed-action-btn{

}

.fixed-action-btn.toolbar {
    float: right;
    margin: 4px 0 0 0;
}

.btn-floating{
	background:transparent;
	box-shadow: 0 0 0;
}

.btn-floating:hover{
	background:transparent;
	box-shadow: 0 0 0;
}

.box-search{
	overflow: hidden;
    height: 60px;
}

.box-search input[type="search"]{
background: #fff;
    height: 60px;
    padding: 0 10px;
    text-align: right;
    width: 100%;
    margin: 0;
    box-sizing: inherit;
    color: #000;
}

.container{
	width:100%;
}
.container .row{
	margin:0;
}

.tit-main h1{
	font-size: 12px;
    color: #fff;
    margin: 23px 0 0 25px;
    float: left;
}

.tit-main h1 a{
	color:#fff;
}

.shopping-cart{
	text-align:right;
}

.shopping-cart i{
	color: #671838;
    margin: 0 0 0 0;
    display: block;
    font-size: 22px;
}

.shopping-cont{
	overflow: hidden;
    margin: 32px 0 0 0;
    border-radius: 0 0 5px 5px;
    width: 80% !important;
    padding: 15px;
    direction: ltr;
    text-align: left;
}

.shopping-cont div h1{
	font-size: 20px;
    margin: 0 0 15px 0;
    border-bottom: 1px solid #ddd;
    padding: 0 0 15px 0;
}


.item-shopping{
	    overflow: hidden;
}

.item-shopping img{
	float: left;
    width: 100px;
    height: 75px;
    border-radius: 4px;
    border: 2px solid #fff;
    box-shadow: 0 0 2px #b7abab;
    margin: 5px;
}

.dit-item-shopping{
	    float: left;
    margin: 0 5px 0 0;
}


.total-cart-home{
    overflow: hidden;
    border-top: 1px solid #ddd;
    width: 100%;
    padding-top: 15px;
    margin-top: 15px;
    float: right;	
}

.total-cart-home span{
	    display: block;
    width: 100%;
    margin: 0 0 15px 0;
    font-size: 17px;
}

.img-block{
	direction:rtl;
	text-align:right;
}

.bt-blok{
	width:100%;
	padding: 0;
}

.icon-om{
	float: right;
    color: #671838;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc6c8;
    text-align: center;
    line-height: 30px !important;
    border-radius: 4px;
}

.page-about{
	background: #fff;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 5px;
	min-height: 85vh;
}

.img-page{
	margin: 10px 0;
    text-align: center;
    background: #eee;
    border-radius: 5px;
}


.des-page{
	direction: ltr;
    text-align: justify;
}

.des-page h3{
	font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding: 0 0 10px 0;
}


.offer-p {
    padding: 10px !important;
    overflow: hidden;
    text-align: center;
}

.offer-p span{
	font-size: 18px !important;
}

.hover-offer-p{
	padding: 10px !important;
    text-align: center;
}


.hover-offer-p .bt-blok{
	margin: 0 0 5px 0;
}


.hover-offer-p span{
	width: 100%;
    overflow: hidden;
    text-align: center;    
}


.block-item a{
	    display: block;
    text-align: center;
    border: 1px solid #ddd;
    background: #671838;
    color: #fff;
    padding: 15px 10px;
    margin: 0 0 10px 0;
}


.block-news{
	margin: 10px 0 10px 0;
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.block-news img{
	height: 150px;
    width: 100%;
    border: 4px solid #fff;
    box-shadow: 0 0 2px #bdbcbc;
    border-radius: 5px;
}

.block-news h3{
	    margin: 5px 0;
}

.block-news h3 a{
	text-align: center;
    display: block;
    font-size: 15px;
    line-height: 24px;
    color: #000;
}

.des-page-cart{
	direction:ltr;
}

.des-page-cart thead tr th{
	text-align:left;
}

.des-page-cart tbody tr td{
	text-align:left;
}

.total-price{
	color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.total-price a{
	color:#fff;
}

.box-form{
	
}

.box-form label{
	text-align:left;
	padding-left: 20px;
	width: 100%;
}

.box-form input[type="text"],
.box-form textarea{
	text-align:left;
}


.des-page-contact{
	direction: left;
}

.des-page-contact h3{
	font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding: 0 0 10px 0;
}


.border-contact{
	direction:ltr;
	
}

.border-contact tbody tr td{
	    text-align: left;
    min-width: 105px;
    padding: 10px 10px;
}


.tit-checkout{
    text-align: left;
    overflow: hidden;
    margin: 25px 0 0 0;	
}

.tit-checkout h3{
	    margin: 0;
    font-size: 14px;
    background: #671838;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    float: left;
	direction: ltr;
}

.des-page-checkout{
	overflow: hidden;
}

.des-page-checkout .box-form  input[type="text"],
.des-page-checkout .box-form  input[type="tel"],
.des-page-checkout .box-form  input[type="email"],
.des-page-checkout .box-form  input[type="date"],
.des-page-checkout .box-form select,
.des-page-checkout .box-form textarea{
	background: #eee;
    border: 1px solid #ddd;
    margin: 0 0 0 0;
}

.des-page-checkout .box-form  label{
	left:0;
}

.chek-req{
	text-align:center;
}

.chek-req{
	
}

.mwafk{
	margin:0;
	height:50px;
}

.mwafk label{
	padding-left: 35px;
    left: 0 !important;
    right: 0;
    width: 100%;
    text-align: left;
}

.img-bay{
    text-align: center;
    border-bottom: 2px solid;
    margin: 15px 0 30px 0;
    padding: 0 0 15px 0;	
}

.img-bay img{
	max-height: 50px;
}

.login-user{
	left: 10px !important;
    margin: 60px 0 0 0;
    width: 80% !important;
    padding: 15px;

}

.item-login a{
	display: block;
    text-align: right;
    padding: 10px 10px;
    background: #eee;
    margin: 0 0 5px 0;
    color: #000;
}

.item-login a i{
    float: right;
    margin: 5px 0 0 12px;
    color: #000;
    font-size: 13px;	
}

.tit-login{
	
}

.tit-login h3{
	background: #671838;
    color: #fff;
    font-size: 17px;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
}


.des-page-wishlist{
	direction:ltr;
}

.des-page-wishlist thead tr th{
	text-align:center;
}

.des-page-wishlist tbody tr td{
	text-align:center;
}

.des-page-wishlist a {
	color:#000;
}

.des-page-wishlist a i{
	font-size: 14px;
}


.footer-new {
    direction: ltr;
    overflow: hidden;
    border: 1px solid #ddd;
    margin: 25px 10px;
}

.footer-new img {
    width: 100%;
}

.footer-new div {

}

.footer-new div h3 {
    font-size: 22px;
    margin: 15px 0 5px 0;
}

.footer-new div p {
    margin: 0;
    font-size: 14px;
}



.des-page-follow{
    direction: ltr;
    border: 1px solid #ddd;
    margin: 10px 0 0 0;
}

.des-page-follow thead tr th{
    text-align: center;
    background: #671838;
    color: #fff;
    border-radius: 0;
	border-left: 1px solid #fff;
}

.des-page-follow thead tr th:nth-last-child(1){
	border-left:0;
}


.des-page-follow tbody tr td{
	text-align:center;
	border-left: 1px solid #ddd;
}

.des-page-follow tbody tr td:nth-last-child(1){
	border-left:0;
}

/************* page view ************/

.img-larg img{
	width:100%;
	border-radius: 10px;
}

.bo-view{
	margin: 15px 0;
}

.bo-view input[type="number"]{
    text-align: center;
    margin: 0;
    height: auto;
    background: #fff;
    border: 1px solid #d0caca;
    border-radius: 15px;
}

.bo-view tbody tr td:nth-child(2){
	width: 50%;
    
}

.bo-view tbody tr td:nth-child(2) a{	
    display: block;
    margin: auto;
    height: 24px;
    text-align: center;
    line-height: 28px;
    background: #671838;
    color: #fff;
    border-radius: 5px;
}

.slide-home{
	padding: 3px 0 0 0;
}

.slide-home .slider .indicators{
	display: none;
}

.slide-home .slider{
	height: 200px !important;
}

.slide-home .slider .slides{
	height: 100% !important;
}

.st-search{
	overflow: hidden;
    margin: 60px 0 0 0;
    background: #ddd;
	padding:10px 0;
}

.logo img{
	height: 60px;
    background: #fff;
    vertical-align: middle;
}

.st-search input[type="search"]{
	margin: 0;
    border: none;
    height: 22px;
    text-align: right;
    color: #000;
}

.item-silder{
background: #fff;
    box-shadow: 0 0 5px #a7a2a2;
    margin: 0 0 15px 0;
    text-align: center;
    padding: 0;
    overflow: hidden;
	
}

.item-silder img{
	width: 75%;
    margin: 15px 0 0 0;
    border-radius: 10px;
}

.item-silder a{
    display: block;
    margin: 0 0 10px 0;
    color: #000;
    font-family: tahoma;
    font-size: 12px;
}

.st-col .col{
	padding: 0 0.4rem;
}

.tit-part{
    overflow: hidden;
    margin: 15px 5px 5px 5px;
}

.tit-part h3{
	margin: 0;
    font-size: 14px;
    float: left;
    width: 50%;
    text-align: left;
	font-weight: bold;
}

.tit-part a{
    float: right;
}

.filter{
	background: #671838;
    padding: 10px 5px;
    margin: 5px;
}

.filter input[type="text"]{
    float: right;
    width: 25%;
    margin: 0 5px;
    border: navajowhite;
    background: #fff;
    height: auto;
    text-align: left;
    padding: 5px 5px;
    box-sizing: inherit;
    font-size: 12px;
    border-radius: 0;
}

.filter input[type="submit"]{
	background: #671838;
    color: #fff;
    border: navajowhite;
    padding: 3px 10px;
}


/************** new style **************/

.acc-page{
	margin: 75px 0 0 0;
    direction: ltr;
    padding: 0 15px;
}

.acc-page h1{
	margin: 0;
    font-size: 17px;
    background: #671838;
    padding: 10px;
    color: #fff;
    box-shadow: 0 0 2px #000;
}


.acc-page .collapsible{
	padding:0;
}



/****************** new style *******************/

.des-page-request{
	direction: ltr;
    padding: 15px;
    overflow: hidden;
    width: 100%;
	
}

.des-page-request ul{
    padding: 0;
    border: 4px solid #ddd;
    text-align: center;
}

.des-page-request ul li{
    border-bottom: 1px solid #ddd;
    padding: 5px 15px;
}

.des-page-request ul li:nth-child(even){
	background:#eee;
}

.des-page-request ul li i{
	font-size:75px;
}

.des-page-request ul li h3{
	font-size: 17px;
    margin: 15px 0 0 0;
}

.des-page-request ul li p{
	color: #919191;
    margin: 5px 0 0 0;
}



/************************* new style ***************************/

.head-page{
	background: #eee;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

.head-page h3{
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.head-page p{
    color: #928e92;
    font-size: 13px;

}

.comp{
	text-align: center;
    background: #671838;
    color: #fff;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
}


.sel3a{
    margin: 50px 0;
    border-top: 1px solid #ddd;
}

.sel3a h3{
    margin: 20px 0;
    font-size: 17px;
}

.sel3a img{
    max-width: 50%;
    border: 4px solid #fff;
    box-shadow: 0 0 5px #bbb7b7;
    border-radius: 5px;
}

.sel3a p{
    margin: 5px 0 0 0;
    font-size: 13px;
    color: #909090;
    border: 1px solid #ddd;
    padding: 8px 0;
    border-radius: 5px;
}

.sho7na {
    list-style-type: none;
    width: 100%;
    float: right;
}

.sho7na li {
    float: left;
    margin: 3px 0 0 10px;
    font-size: 14px;
    text-align: right;
}

.sho7na li:nth-child(1) {
    background: #fff;
    border: 2px solid #ddd;
    width: 30px;
    height: 30px;
    margin: 0 0 0 15px;
    border-radius: 50px;
}

.activ-cell li:nth-child(1) {
    background: #01b14f !important;
    border: 2px solid #01b14f !important;
}

.sho7na li i {
    width: 25px;
    text-align: center;
    line-height: 27px;
    color: #fff;
}


.tit-ttb3{
	margin: 0 auto 15px auto;
    text-align: center;
    font-size: 14px;
    background: #671838;
    color: #fff;
    padding: 7px 0;
    border-radius: 5px;
}

.card .card-content .card-title{
	text-align: left;
}

.card .card-content{
	overflow: hidden;
}

.card .card-content p a{
    text-align: left;
	display: block;
}

.card .card-reveal .card-title { 
    text-align: left;
}

.card .card-reveal p{
	text-align: left;
}