
body{
	font-family:"HelveticaNeue";
}

a:hover, a:focus {
    text-decoration: none;
}

.color-1{ background: #000 !important;}
.color-2 {
    background: #64b801 !important;
}
.padd-right{padding-right: 0 !important}
.padd-left{padding-left: 0 !important}
.padd-bottom{padding-bottom: 0 !important}
.padd-top{padding-top: 0 !important}


.menu-main{	
	height: 60px;
	position: fixed;
    display: block;
    width: 100%;
    z-index: 99999999;
    clear: both;
    background: #fff;
}

.line-top{
	margin: 60px 0 0 0;
}

nav{
	box-shadow: 0 0 0;
}

.p-0{padding: 0 !important;}

.side-nav .userView .circle{
	background: #fff;	
}

.intro {
	background: #28bed0;
    height: 100vh;
    background-size: 50px;
    text-align: center;
}

.img_inr{
    position: absolute;
    margin: auto;
    width: 250px;
    left: 0;
    right: 0;
    top: 25%;
    height: 250px;
    background: #fff;
    border-radius: 100%;
}

.img_inr img{
    width: 85%;
    position: relative;
    top: 40%;
}

nav a.button-collapse{
    display: block;
    color: #000;
}

.side-nav li {
    float: none;
    line-height: 48px;
    text-align: right;
    border-bottom: 1px dotted #ddd;
}

.img-menu img{
	    width: 100%;
    vertical-align: middle;
}


.btn-floating.btn-large{
	width:auto;
	height:auto;
}

.fixed-action-btn{

}

.fixed-action-btn.toolbar {
    float: right;
    margin: 4px 0 0 0;
}

.btn-floating{
	background:transparent;
	box-shadow: 0 0 0;
}

.btn-floating:hover{
	background:transparent;
	box-shadow: 0 0 0;
}

.box-search{
	overflow: hidden;
    height: 60px;
}

.box-search input[type="search"]{
background: #fff;
    height: 60px;
    padding: 0 10px;
    text-align: right;
    width: 100%;
    margin: 0;
    box-sizing: inherit;
    color: #000;
}

.container{
	width:100%;
    padding: 0;
}
.container .row{
	margin:0;
}

.tit-main a{
    font-size: 22px;
    color: #000;
    margin: 20px 0 0 0;
    display: block;
    text-align: left;
}

.user_icon{
    float: left;
}

.shopping-cart{
	text-align: left;
    float: left;
    margin: 20px 30px 0 0;
}

.shopping-cart i{
	color: #000;
    margin: 0 0 0 0;
    display: block;
    font-size: 22px;
}

.shopping-cont{
	overflow: hidden;
    margin: 46px 0 0 0;
    width: 100% !important;
    padding: 15px;
    direction: rtl;
    text-align: right;
    right: 0;
    left: 0 !important;
	background: #63b802;
}

.shopping-cont div h1{
	font-size: 20px;
    margin: 0 0 15px 0;
    border-bottom: 1px solid #ddd;
    padding: 0 0 15px 0;
}


.item-shopping{
	    overflow: hidden;
		color:#fff;
}

.item-shopping label{
		color:#fff;
}

.item-shopping img{
	float: right;
    width: 100px;
    height: 75px;
    border-radius: 4px;
    border: 2px solid #fff;
    box-shadow: 0 0 2px #b7abab;
    margin: 5px;
}

.dit-item-shopping{
	    float: right;
    margin: 0 5px 0 0;
}


.total-cart-home{
    overflow: hidden;
    border-top: 1px solid #ddd;
    width: 100%;
    padding-top: 15px;
    margin-top: 15px;
    float: right;	
}

.total-cart-home span{
	    display: block;
    width: 100%;
    margin: 0 0 15px 0;
    font-size: 17px;
}


.user-cont{
    top: 50px !important;
    min-width: 150px;
    text-align: right;
}


.user-cont ul{

}


.user-cont ul li{
    min-height: auto;
}


.user-cont ul li a{
    margin: 0;
    padding: 5px 15px;
    text-align: right;
}

.img-block{
	direction:rtl;
	text-align:right;
}

.bt-blok{
	width:100%;
	padding: 0;
}

.icon-om{
	float: left;
    color: #671838;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc6c8;
    text-align: center;
    line-height: 30px !important;
    border-radius: 4px;
}

.page-about{
	background: #fff;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 5px;
	min-height: 85vh;
}

.img-page{
	margin: 10px 0;
    text-align: center;
    background: #fff;
    border-radius: 0;
    padding: 25px;
    border: 1px solid #ddd;
}


.des-page{
    text-align: right;
    padding: 10px 10px;
    background: #f9f9f9;
    border-bottom: 1px solid #ddd;
}

.des-page p{
    text-align: justify;
    direction: rtl;
    font-size: 13px;
    color: #909090;
}

.des-page h3{
	font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding: 0 0 10px 0;
}


.offer-p {
    padding: 10px !important;
    overflow: hidden;
    text-align: center;
}

.offer-p span{
	font-size: 18px !important;
}

.hover-offer-p{
	padding: 10px !important;
    text-align: center;
}


.hover-offer-p .bt-blok{
	margin: 0 0 5px 0;
}


.hover-offer-p span{
	width: 100%;
    overflow: hidden;
    text-align: center;    
}


.block-item a{
	    display: block;
    text-align: center;
    border: 1px solid #ddd;
    background: #671838;
    color: #fff;
    padding: 15px 10px;
    margin: 0 0 10px 0;
}


.block-news{
	margin: 10px 0 10px 0;
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.block-news img{
	height: 150px;
    width: 100%;
    border: 4px solid #fff;
    box-shadow: 0 0 2px #bdbcbc;
    border-radius: 5px;
}

.block-news h3{
	    margin: 5px 0;
}

.block-news h3 a{
	text-align: center;
    display: block;
    font-size: 15px;
    line-height: 24px;
    color: #000;
}

.des-page-cart{
	direction:rtl;
	border: 1px solid #ddd;
}

.des-page-cart thead tr th{
	text-align: center;
    font-weight: normal;
}

.des-page-cart tbody tr td{
	text-align: center;
    font-size: 12px;
}

.total-price{
    color: #fff;
    padding: 15px 10px;
    border-radius: 0;
    margin: 0 0 5px 0;
}

.total-price a{
	color:#fff;
}

.delivry-price{
    border: 1px solid #cae4ab;
    margin: 0 0 5px 0;
    padding: 10px;
    background: #f7eaea;
}

.box-form{
	
}

.box-form label{
	text-align:right;
	padding-right: 20px;
	width: 100%;
}

.box-form input[type="text"],
.box-form textarea{
	text-align:right;
}


.des-page-contact{
	direction: rtl;
    background: #eee;
    padding: 15px;
    overflow: hidden;
}

.des-page-contact h3{
	font-size: 17px;
    padding: 0;
    line-height: 24px;
    text-align: center;
}

.des-page-contact p{
    font-size: 13px;
    color: #909090;
}

.border-contact{
	direction: rtl;
    border: 1px solid #ddd;
    margin: 0 0 15px 0;
	
}

.border-contact tbody tr td{
	text-align: right;
	padding: 10px 10px;
	background: #eee;
    border-bottom: 1px solid #ddd;
}


.tit-checkout{
    text-align: right;
    overflow: hidden;
    margin: 25px 0 0 0;	
}

.tit-checkout h3{
	    margin: 0;
    font-size: 14px;
    background: #671838;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    float: right;
	direction: rtl;
}

.des-page-checkout{
	overflow: hidden;
}

.des-page-checkout .box-form  input[type="text"],
.des-page-checkout .box-form  input[type="tel"],
.des-page-checkout .box-form  input[type="email"],
.des-page-checkout .box-form  input[type="date"],
.des-page-checkout .box-form select,
.des-page-checkout .box-form textarea{
	
    margin: 0 0 0 0;
}

.des-page-checkout .box-form  label{
	
}

.chek-req{
	text-align:right;
}

.chek-req{
	
}

.mwafk{
	margin:0;
	height:50px;
}

.mwafk label{
	padding-right: 35px;
    left: 0 !important;
    right: 0;
    width: 100%;
    text-align: right;
}

.img-bay{
    text-align: center;
    border-bottom: 2px solid;
    margin: 15px 0 30px 0;
    padding: 0 0 15px 0;	
}

.img-bay img{
	max-height: 50px;
}

.login-user{
	left: 10px !important;
    margin: 60px 0 0 0;
    width: 80% !important;
    padding: 15px;

}

.item-login a{
	display: block;
    text-align: right;
    padding: 10px 10px;
    background: #eee;
    margin: 0 0 5px 0;
    color: #000;
}

.item-login a i{
    float: right;
    margin: 5px 0 0 12px;
    color: #000;
    font-size: 13px;	
}

.tit-login{
	
}

.tit-login h3{
	background: #671838;
    color: #fff;
    font-size: 17px;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
}


.des-page-wishlist{
	direction:ltr;
	border: 1px solid #ddd;	
    overflow: hidden;

}

.des-page-wishlist thead tr th{
	text-align:center;
	font-weight: normal;
}

.des-page-wishlist tbody tr td{
	text-align:center;
}

.des-page-wishlist a {
	color:#000;
}

.des-page-wishlist a i{
	font-size: 14px;
}


footer{
    background: #444;
    padding: 30px 15px;
}

.lang_footer{
    border-bottom: 1px solid #919191;
    overflow: hidden;
    padding: 0 0 15px 0;
}

.lang_footer a:nth-last-child(2){
    border-left: 1px solid #919191;
}

.lang_footer a{
    display: block;
    width: 50%;
    text-align: center;
    float: right;
    color: #fff;
    font-family: tahoma;

}

.lang_footer img{
    height: 16px;
    margin: 0 0 0 0;
    position: relative;
}

.menu_footer{
    overflow: hidden;
    padding: 15px 0;
}


.menu_footer a{
    width: 25%;
    text-align: center;
    color: #fff;
    display: block;
    float: right;
}

.footer-new {
    direction: rtl;
    overflow: hidden;
    border: 1px solid #ddd;
    margin: 25px 10px;
}

.footer-new img {
    width: 100%;
}

.footer-new div {

}

.footer-new div h3 {
    font-size: 22px;
    margin: 15px 0 5px 0;
}

.footer-new div p {
    margin: 0;
    font-size: 14px;
}



.des-page-follow{
    direction: rtl;
    border: 1px solid #ddd;
    margin: 10px 0 0 0;
}

.des-page-follow thead tr th{
    text-align: center;
    background: #671838;
    color: #fff;
    border-radius: 0;
	border-left: 1px solid #fff;
}

.des-page-follow thead tr th:nth-last-child(1){
	border-left:0;
}


.des-page-follow tbody tr td{
	text-align:center;
	border-left: 1px solid #ddd;
}

.des-page-follow tbody tr td:nth-last-child(1){
	border-left:0;
}

/************* page view ************/

.img-larg{
	height: 150px;
    overflow: hidden;
    width: 100%;
    background: #000;
}

.img-larg img{
	width: 100%;
    border-radius: 0;
    opacity: 0.7;
}

.bo-view{
	margin: 15px 0;
}

.bo-view input[type="number"]{
    text-align: center;
    margin: 0;
    height: auto;
    background: #fff;
    border: 1px solid #d0caca;
    border-radius: 15px;
}

.bo-view tbody tr td:nth-child(2){
	width: 50%;
    
}

.bo-view tbody tr td:nth-child(2) a{	
	display: block;
    margin: auto;
    text-align: center;
    line-height: 40px;
    background: #e5af31;
    color: #fff;
    border-radius: 5px;
    padding: 3px 0 0 0;
    border: 2px solid #fff;
    box-shadow: 0 0 2px #b7b2b2;
}

.slide-home{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: 1px solid #ddd;
    position: relative;
}


.icon_wish{
    position: absolute;
    top: 15px;
    z-index: 999;
    left: 15px;
    font-size: 24px;
    color: #fff;
}

.icon_wish a{color: #fff}

.slide-home .slider .indicators{
    display: block;
    z-index: 99999;
}

.slide-home .slider{
	height: 200px !important;
}

.slide-home .slider .slides{
	height: 100% !important;
}


.slide-main{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.slide-main .slider .indicators{
    display: block;
    z-index: 99999;
}

.slide-main .slider{
    height: 150px !important;
}

.slide-main .slider .slides{
    height: 100% !important;
}

.st-search{
	overflow: hidden;
    margin: 60px 0 0 0;
    background: #ddd;
	padding:10px 0;
}

.logo{
    padding: 15px 0;
}

.logo img{
    vertical-align: middle;
    max-height: 40px;
    width: 100%;
}

.st-search input[type="search"]{
	margin: 0;
    border: none;
    height: 22px;
    text-align: right;
    color: #000;
}

.item-silder{
    background: #fff;
    margin: 5px 0 5px 0;
    text-align: center;
    padding: 0;
    overflow: hidden;
    border: 1px solid #eee;
	
}

.item-silder  .img-pr{
    width: 100%;
    height: 150px;
    margin: 0 0 10px 0;
    position: relative;
    padding: 15px;
}

.item-silder  .img-pr img{
    max-width: 100%;
    max-height: 100%;
}

.img-pr span,.img-pr label{
    position: absolute;
    z-index: 9999;
}

.img-pr span{
	left: 5px;
    top: 5px;
    background: #64b802;
    padding: 8px 15px 5px 15px;
    text-align: center;
    color: #fff;
    line-height: 16px;
}

.img-pr label{
	right: 5px;
    top: 5px;
    background: #000000;
    padding: 8px 15px 5px 15px;
    text-align: center;
    color: #fff;
    line-height: 16px;
}

.item-silder a{
    display: block;
    margin: 0 0 5px 0;
    color: #000;
    font-size: 14px;
    direction: rtl;
    text-align: center;
    height: 20px;
    overflow: hidden;
}

.st-col .col{
	padding: 0 0.4rem;
}

.tit-part{
    overflow: hidden;
    margin: 15px 5px 5px 5px;
}

.tit-part h3{
	margin: 0;
    font-size: 14px;
    float: right;
    width: 50%;
    text-align: right;
	font-weight: bold;
}

.tit-part a{
    float: left;
}

.filter{
	background: #632289;
    padding: 10px 5px;
    margin: 5px;
}

.filter input[type="text"]{
    float: right;
    width: 25%;
    margin: 0 5px;
    border: navajowhite;
    background: #fff;
    height: auto;
    text-align: right;
    padding: 5px 5px;
    box-sizing: inherit;
    font-size: 12px;
    border-radius: 0;
}

.filter input[type="submit"]{
	background: #671838;
    color: #fff;
    border: navajowhite;
    padding: 3px 10px;
}


/************** new style **************/

.acc-page{
	margin: 75px 0 0 0;
    direction: rtl;
    padding: 0 15px;
}

.acc-page h1{
	margin: 0;
    font-size: 17px;
    background: #671838;
    padding: 10px;
    color: #fff;
    box-shadow: 0 0 2px #000;
}


.acc-page .collapsible{
	padding:0;
}



/****************** new style *******************/

.des-page-request{
	direction: rtl;
    padding: 15px;
    overflow: hidden;
    width: 100%;
	
}

.des-page-request ul{
    padding: 0;
    border: 4px solid #ddd;
    text-align: center;
}

.des-page-request ul li{
    border-bottom: 1px solid #ddd;
    padding: 5px 15px;
}

.des-page-request ul li:nth-child(even){
	background:#eee;
}

.des-page-request ul li i{
	font-size:75px;
}

.des-page-request ul li h3{
	font-size: 17px;
    margin: 15px 0 0 0;
}

.des-page-request ul li p{
	color: #919191;
    margin: 5px 0 0 0;
}



/************************* new style ***************************/

.head-page{
	background: #eee;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

.head-page h3{
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.head-page p{
    color: #928e92;
    font-size: 13px;

}

.comp{
	text-align: center;
    background: #671838;
    color: #fff;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
}


.sel3a{
    margin: 50px 0;
    border-top: 1px solid #ddd;
}

.sel3a h3{
    margin: 20px 0;
    font-size: 17px;
}

.sel3a img{
    max-width: 50%;
    border: 4px solid #fff;
    box-shadow: 0 0 5px #bbb7b7;
    border-radius: 5px;
}

.sel3a p{
    margin: 5px 0 0 0;
    font-size: 13px;
    color: #909090;
    border: 1px solid #ddd;
    padding: 8px 0;
    border-radius: 5px;
}

.sho7na {
    list-style-type: none;
    width: 100%;
    float: right;
    padding: 0;
}

.sho7na li {
    float: right;
    margin: 3px 15px 0 0;
    font-size: 14px;
    text-align: right;
}

.sho7na li:nth-child(1) {
    background: #fff;
    border: 2px solid #ddd;
    width: 30px;
    height: 30px;
    margin: 0 0 0 0;
    border-radius: 50px;
}

.activ-cell li:nth-child(1) {
    background: #e5ac27 !important;
    border: 2px solid #e5ac27 !important;
}

.sho7na li i {
    width: 25px;
    text-align: center;
    line-height: 27px;
    color: #fff;
}


.tit-ttb3{
	margin: 0 auto 15px auto;
    text-align: center;
    font-size: 14px;
    background: #671838;
    color: #fff;
    padding: 7px 0;
    border-radius: 5px;
}

.side-nav a{
	color:#000;
    text-align: right;
}

.side-nav a i{
    margin: 0 0 0 5px !important;
    font-size: 17px;
    text-align: center;
    float: right !important;
}

.side-nav{
    background: #fff;
    width: 200px;
    text-align: right;
    direction: rtl;
    padding: 0;
}

.des-pr{
	padding: 0 10px;
    position: relative;
}



.des-pr label{
    float: right;
    margin: 0 0 15px 0;
    font-size: 17px;
    color: #000;
    direction: rtl;
    width: 100%;
    text-align: center;
}


.ad-to-c{
    margin: 10px 0 !important;
    font-size: 12px !important;
    float: left;
    background: #f9f9f9;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
}

.break-page{
    margin: 65px 0 0 0;
    background: #218e9a;
    padding: 15px 0;
    overflow: hidden;
}

.break-page ul{
	margin:0;
	overflow: hidden;
	float: left;
	width:100%;
}

.break-page ul li{
    float: right;
    margin: 0 15px 0 0;
    padding: 0 0 0 15px;
    font-size: 17px;
}

.break-page ul li a{
	color:#fff;
}

.sort-by{
    border-right: 0 !important;
    margin: 0 0 0 10px !important;
    padding: 0 !important;
    width: 150px;
    float: left !important;
    font-size: 12px !important;
}

.sort-by select{
	height: 2rem;
}


.tit-top {
    text-align: center;
    background: #ddd;
    margin: 15px 0 15px 0;
    padding: 15px 0;
}

.tit-top h3 {
    margin: 10px 0;
    color: #4946b3;
    font-size: 17px;
    text-align: center;
}

.tit-top p {
    margin: 0;
    text-align: center;
}

.cont-top {
    direction: rtl;
    padding: 15px;
    border: 1px solid #ddd;
}

.cont-top h3 {
    margin: 15px 0 0 0;
    font-size: 17px;
}

.cont-top p {
    margin: 0 0 30px 0;
    font-size: 13px;
}

.details-header.delivered {
    background-color: #f1fff9;
    overflow: hidden;

    direction: rtl;
    text-align: right;
}

.details-header {
    padding: 1.4285714286rem;
    border-radius: .3571428571rem .3571428571rem 0 0;
    border-bottom: 1px solid #ccc;
}

.details-header h6 {
    position: relative;
    top: .6428571429rem;
    text-align: right;
}

.details-header.delivered h6 label {
    float: right;
    direction: ltr;
    margin: 0 0 0 10px;
}

.bolisa {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}

.bolisa li {
    width: 50%;
    float: right;
    text-align: right;
    font-size: 14px;
}

span.header-title1 {
    color: #818181;
    display: block;
}

.track-shipment {
    text-align: right;
    direction: rtl;
}

.tit-det-pro {
    text-align: right;
    margin: 0 0 35px 0;
}

.right-pro {
    list-style-type: none;
}

.right-pro li {
    float: right;
}

.des-pro-right {
    padding: 0 0 0 15px;
    width: 75%;
    font-size: 14px;
    text-align: right;
    direction: rtl;
}

.right-pro li .placard {
    text-align: right;
}


.st-bin{
    background: #eee;
    padding: 15px;
    margin: 15px 0;
}

.search_home{
    overflow: hidden;
    background: #fff;
    color: #fff;
    text-align: center;
    padding: 50px 5px 0 5px;
}

.search_home h3{
    font-size: 22px;
    margin: 30px 0 0 0;
}


.search_home p{
    margin: 10px 0;
}

.box_search{
    text-align: center;
    width: 100% !important;
    padding: 0 !important;
    margin: 5px 0 10px 0 !important;
    background: #efeeee url(../images/search.png) 98% center no-repeat !important;
    background-size: 16px !important;
    border-radius: 5px !important;
    border: 2px solid #ddd !important;
}

.all_item_home{
    overflow: hidden;
    margin: 5px;
    border-radius: 5px;
    padding: 0 5px 10px 5px;
    background: #fff;
}

.item_section_home{
    overflow: hidden;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 120px;
    border-radius: 0;
    border: 1px solid #f3f2f2;
}

.item_section_home a{
    display: block;
    height: 100%;
    padding: 20px 0 0 0;
}

.item_section_home img{
    max-width: 50px;
    height: 50px;
}

.item_section_home span{
    display: block;
    color: #000;
    font-size: 12px;
}

.tit_main{
    text-align: right;
    background: #ffffff;
    color: #000;
    padding: 15px 10px;
    margin: 5px -1px 0 -1px;
    border-radius: 5px 5px 0 0;
    position: relative;
}


.tit_main h3{
    margin: 0;
    font-size: 17px;
}

.tit_main a{
    position: absolute;
    left: 15px;
    top: 10px;
}

.price_main{
    text-align: center;
}

.price_main h1{
    font-size: 22px;
    color: #00c134;
    font-weight: bold;
}


.total_nu{
    text-align: center;
    background: #f9f9f9 !important;
    border-bottom: 2px solid #dedbdb !important;
    border-radius: 15px !important;
}

.left-page {
    background: #f9f9f9;
    color: #1aa0a5;
    padding: 15px;
    text-align: center;
    margin-bottom: 5px;
}
.left-page h3 {
    font-size: 18px;
    margin: 0;
}

.left-page p {
    margin: 0;
    font-size: 12px;
}


.add_car_page{
    display: block;
    background: #4caf50;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    border-radius: 0;
    margin: 0 5px 15px 0;
}

.bay_now{
    display: block;
    background: #444444;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    border-radius: 0;
    margin: 0 5px 15px 0;
}

.main_class{
    text-align: right;
    font-size: 17px;
    margin: 20px 0 15px 0;
}


.tit_offers{
    direction: rtl;
    overflow: hidden;
    background: #64b802;
    padding: 0 15px;
    position: relative;
    color: #fff;
    margin: 0 -1px;
    border-radius: 5px 5px 0 0;
}

.tit_offers h3{
    font-size: 18px;
    margin: 15px 0 5px 0;
}

.tit_offers p{
    margin: 0 0 10px 0;
    font-size: 12px;
}

.tit_offers span{
    left: 14px;
    position: absolute;
    top: 20px;
}

.tit_offers span a{
    color: #000;
}

.baneer_home{
    background: #000;
    padding: 15px;
    height: 115px;
    overflow: hidden;
    margin: 0 0 10px 0;
}

.baneer_home img{
    width: 100%;
}

.section_white{
    background: #fff;
    overflow: hidden;
    margin: 0 5px;
    border-radius: 0 0 5px 5px;

}


.copy_right{
    color: #fff;
    margin: 0;
    padding: 0;
}

.side-nav{
    top:60px;
}

.back_tit{
    border-top: 2px solid #ddd;
    font-size: 14px;
    text-align: center;
    padding: 15px 0;
    margin: 0;
}


.back_tit i{
    float: right;
    margin: 0 15px 0 0;
    color: #ddd;
}

.block_sort{
    overflow: hidden;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.sort_by select{
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 1px solid #ddd;
    border-radius: 0;
    box-shadow: 0 0 0;
    height: 60px;
    direction: rtl;
}

.type_grid{
    overflow: hidden;
}


.type_grid a{
    display: block;
    float: left;
    color: #969191;
    font-weight: normal;
    font-size: 18px;
    margin: 20px 10px 0 10px;
}


.num_pro{
    background: #efeeee;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    color: #919191;
}

.item_list{
    border: 0;
    text-align: right;
    border-bottom: 1px solid #ddd;
    margin: 0 0 15px 0;
}

.item_list .img-pr{
    float: right;
    width: 30%;
    padding: 0;
    height: 100px;
    overflow: hidden;
    text-align: center;
}

.item_list .des-pr{
    float: right;
    width: 70%;
}

.item_list .des-pr a{
    text-align: right;
    font-size: 19px;
}


.item_list .des-pr label{
    text-align: right;
    font-size: 14px;
    color: #909090;
    margin: 0 0 0 0;
}

.item_list .des-pr h4{
    text-align: right;
    margin: 15px 0 5px 0;
    font-size: 14px;
    color: #909090;
}

.dit_view_pro{
    direction: rtl;
    position: relative;
    padding: 30px 10px;
}


.dit_view_pro label{
    font-size: 16px;
    font-weight: normal;
}


.dit_view_pro h3{
    font-size: 16px;
}


.dit_view_pro ul.pro-rating{
    padding: 0;
    overflow: hidden;
}

.dit_view_pro ul.pro-rating li{
    float: right;
    color: #4caf50;
}

.dit_view_pro h2{
    display: block;
    font-size: 26px;
}




.select_size{
    direction: rtl;
    margin: 0 0 30px 0;
    overflow: hidden;
}


.select_size .btn{
    width: auto;
    background: #fff;
    color: #000;
    border: 1px solid #ddd;
    box-shadow: 0 0 0;
    padding: 0 25px;
}

.select_size .active{
    background: #ddd;
}


.select_color{
    direction: rtl;
    margin: 0 0 30px 0;
    overflow: hidden;
}


.select_color .btn{
    width: auto;
    background: #fff;
    color: #000;
    border: 2px solid #ddd;
    box-shadow: 0 0 0;
    padding: 10px 25px;
    height: auto;
}

.select_color .active{
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}


.select_color img{
    height: 50px;
}


.delete_item{
    margin: 5px 0 20px 0;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    padding: 0 5px 10px 0;
}


.delete_item a{
    color: #66b605;
    margin: 0 0 0 20px;
    font-size: 17px;
    float: right;
    display: block;
    border-left: 1px solid #ddd;
    padding: 0 0 0 20px;
}

.sel_tot{
    float: left;
    width: 100px;
    margin: 0 0 0 0;
    height: 30px;
    font-size: 12px;
}

.alarm_cart{
    border: 2px solid #64b802;
    overflow: hidden;
    display: block;
    padding: 15px;
    border-radius: 5px;
    margin: 30px 0;
}

.tit_my_acciunt{
    text-align: center;
    margin: 15px 0 50px 0;
}

.my_account{
    direction: rtl;
}

.view_die_account {
    border: 1px solid #ddd;
    padding: 0 15px;
    margin-bottom: 30px;
}

.view_die_account h3 {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    font-size: 18px;
}

.view_die_account p {
    color: #909090;
    margin: 10px 0 0 0;
}

.view_die_account a {
    display: block;
    margin: 30px 0 15px 0;
    color: #64b802;
}



.rating_account{
    direction: rtl;
    text-align: right;
}

.rating_account thead  tr th, .rating_account tbody  tr td{
    text-align: center;
}


.edit_account{
    direction: rtl;
    text-align: right;
}

.input-field .st_edit{
    text-align: right;
    margin: 0;
    border: 1px solid #ddd;
    padding: 25px 10px;
    box-sizing: inherit;
    border-radius: 5px;
    direction: rtl;
    font-size: 16px;
}

.box-form .titi_edit{
    font-size: 17px;
    padding: 50px 0 0 0;
    font-weight: normal;
    color: #000;
}

.box-form .waves-effect{
    margin: 15px 0 30px 0;
    display: block;
}



input[type="number"] {
    position: relative;
    margin: 0 0 1rem;
    border: 1px solid #BBB;
    padding: 0 10px;
    float: left;
    width: 100px;
    height: 30px;
}

/* Spin Buttons modified */
input[type="number"].mod::-webkit-outer-spin-button,
input[type="number"].mod::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
    width: 1em;
    border-left: 1px solid #BBB;
    opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
input[type="number"].mod::-webkit-inner-spin-button:hover,
input[type="number"].mod::-webkit-inner-spin-button:active{
    box-shadow: 0 0 2px #0CF;
    opacity: .8;
}

/* Override browser form filling */
input:-webkit-autofill {
    background: black;
    color: red;
}


.offer_view{
    position: absolute;
    top: 15px;
    right: 15px;
    background: #82ffd7;
    padding: 5px 15px;
    direction: ltr;
    z-index: 9999;
}


h4.num_tit{
    text-align: right;
    padding: 0 10px;
    font-size: 18px;
}

.page-static img{
    width: 100%;
    border-radius: 10px;
    border: 4px solid #fff;
    box-shadow: 0 0 2px #ddd;
}

.page-static p{
    text-align: right;
    direction: rtl;
    margin: 20px 0 20px 0;
    color: #696565;
}

.model_pop{
    text-align: center;
    padding: 10px 0 30px 0 !important;
    height: auto !important;
}

.head_pop{
    text-align: center;
    font-size: 17px;
}

.btn_pop{
    float: none !important;
    display: -webkit-inline-box;
}


.btn_pop_test{
    display: block;
    text-align: center;
    background: #333;
    color: #fff;
    padding: 15px;
    margin: 0 0 50px 0;
}