.color-4
{
	background: transparent !important;
    
    color: #222;
}

.color-4 strong ,.color-1 strong
{
	color: #64b801;
	font-size: 18px;
	font-weight: bold;
}


.btn-bl
{
	display: block;
    width: 100%;
    background: transparent !important;
    color: #6ec405;
}
.delivery
{
	border: 1px solid #ccc;
    padding: 15px;
    padding-bottom: 25px;
}
.btn-check
{
	color: #fff;
    border: navajowhite;
    font-size: 18px;
    font-weight: bold;
}